body{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
}

.logo{
	width: 11%;

}

.pos{
	text-align: center;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}

input
{
    background: transparent;
    border: none;

}

hr{
	height: 8pt;
	visibility: hidden;
}

.tr_no{
	width:110px;
}

.tr_nos{
	width:579px;
}

.test {
	font-weight: bold;
}
.column {
  float: center;
  width: 100%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.background-image {

  background-image: url('https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?cs=srgb&dl=backgrounds-blank-blue-953214.jpg&fm=jpg');
  height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}
